footer.home{
    background-color: #bcf2ff;
    padding-bottom: 5px;
    padding-left: 21px;
    height: 1250px;
    width:400px;
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 10px;

}

footer div.tuto{

background-color: white;

width: 50%;
}

footer h2 {
    font-size: 100%;
    margin: 0;
    padding-top: 5;
    padding-bottom: 5;
}

div.tutoriales {
    width: 100%;
}

div.tutoriales img {
    width: 25%;
}

div.tutoriales img p {}


/* PUBLICIDAD */

div.publi {
    background-color: white;
    width: 385px;
    height: 650px;
    height: 650px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

div.publi img {width: 100%;}
